body {
    margin: 0;
    background: no-repeat center center fixed;
    background-color: black;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
}
