<!DOCTYPE HTML>
<html>
<head>
    <title>Success!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/static/css/success.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="/static/js/success.js"></script>
</head>
<body>
  <h1>You have successfully uploaded {{ filename }} to the CS Slideshow</h1>
  <p>Click <a href="{{ url_for('upload_picture') }}">here</a> to upload another picture or <a href="{{ url_for('slideshow') }}">here</a> to view the slideshow.</p>
  <br>
  <p>If you would like to change the order of the pictures simply drag into an order you like and press submit. (The top picture will be displayed first and the bottom picture will be displayed last).</p>

  <ul id="sortable">
  {% for item in pic_array %}
    <li class="ui-state-default"><img src="{{ item }}"></img></li>
  {% endfor %}
  </ul>
 
  <form action="" method=post enctype=multipart/form-data>
    <br><br> 
    <input type=submit value=Submit>
  </form>
</body>
</html>
