<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/menubar.css">
    <title>Success!</title>
    <meta charset="utf-8">
</head>
<body>
	<ul class="menu">
		<li><a href="{{ url_for('slideshow') }}">View Slideshow</a></li>
		<li><a href="{{ url_for('upload_picture') }}">Upload a Picture</a></li>
		<li><a href="{{ url_for('reorder_picture') }}">Reorder Slideshow</a></li>
		<li><a href="{{ url_for('delete_picture') }}">Delete a Picture</a></li>
	</ul>
    <h2>You have successfully {{ message }} the CS Slideshow!</h2>
</body>
</html>
